<header class= 'top-page-header'>
  <nav>
    <ul class = 'lists-right'>      
       <li>
          <% if I18n.locale.to_s == "ko" %>
            <%= link_to('日本語', :locale => 'ja') %>
          <% else %>
            <%= link_to('한국어', :locale => 'ko') %>
          <% end %>
       </li>
    </ul>
  </nav>
</header>