<header class= 'top-page-header'>
  <div class="inner">
    <div class="header-nav">
      <div class="nav__right">
        <% if I18n.locale.to_s == "ko" %>
          <%= link_to('日本語', { :locale => 'ja' }, { class: "languages" }) %>
        <% else %>
          <%= link_to('한국어', { :locale => 'ko' }, { class: "languages" }) %>
        <% end %>
      </div>
    </div>
  </div>
</header>