<div class="card">
  <%= link_to image_tag(post.image, class: :post__img ), post_path(post.id),method: :get do %>
  <div class="card__body">
    <p class="card__summary">
      <%= prototype.content %>
    </p>
  </div>
</div>