.user__wrapper{
  min-height: calc(100vh - 161px);
  text-align: center;
}

.user__name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #DA7857;
}

.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  margin-left: 255px;
  width: 50%;
  text-align: center;
}
.table__col1{
  color: #DA7857;
  text-align: left;
  font-weight: bold;
  background: #fcf3f0;
  border-collapse: collapse;
  border: 1px solid #F1DFD9;
  width: 30%;
  padding: 8px;
}
.table__col2{
  color: #DA7857;
  text-align: left;
  border: 1px solid #F1DFD9;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}

.post-btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.0em;
  color: #FFE5CC;
  background-color: #DA7857 ;
  text-decoration: none;
  user-select: none;
  border: 3px #DA7857 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.user__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.0em;
  color: #DA7857;
  background-color: #fff4f0 ;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
  font-weight: bold;
}

.register_btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.0em;
  color: #FFE5CC;
  background-color: #DA7857 ;
  text-decoration: none;
  user-select: none;
  border: 3px #DA7857 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  width: 15.6%;
}

.login_btn {
  padding: 0.1em 1.6em;
  font-size: 1.0em;
  color: #FFE5CC;
  background-color: #DA7857 ;
  text-decoration: none;
  border: 3px #DA7857 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-top: 27px;
  width: 15.6%;
}

.form-wrap {
  text-align: center;
}

.forms {
  margin-top: 70px;
}

.form-group {
  margin-top: 20px;
}

.container {
  text-align: center;
}

